# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
cover/
htmlcov/
.tox/
.nox/
.pytest_cache/
.hypothesis/

# Sphinx documentation
docs/_build/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor configs
.idea/
.vscode/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter
.ipynb_checkpoints/

# macOS
**/.DS_Store

# Logs
*.log

# Vim / Emacs / temp files
*~
\#*\#
.\#*
**/.projectile

# Local development
TODO*